<!DOCTYPE html>
<head>
    <link rel='stylesheet' href='/styles/design.css'>
</head>

<body>
    <h2>Add Student</h2>
    
    <% if (errors !=undefined) {%>
        <ul>
            <% errors.forEach((error)=>{%>
                <li style="color:Red">
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <% if (errorsTwo !=undefined) {%>
                <ul>
                    <li style="color:Red">
                        <%= errorsTwo %>
                    </li>
                </ul>
                <% } %>

                    <form action="/addStudent" method='POST'>
                        <label>Student ID:</label><br>
                        <input type="text" name="id" value=""><br>
                        <label>Name:</label><br>
                        <input type="text" name="name" value=""><br>
                        <label>GPA:</label><br>
                        <input type="number" name="gpa" value="" step=".1"><br>
                        <input type="submit" value="Add">
                    </form><br>

                    <a href="/">Home </a>

</body>

