<!DOCTYPE html>

<head>
        <link rel='stylesheet' href='/styles/design.css'>
</head>

<html>

<body>
        <h1> ERROR MESSAGE</h1>
        <br>
        <h2>
                <%= error %>
        </h2>

        <a href="/">Home </a>

</body>

</html>