table, tr, th, td{
    border: 1px solid black;
    
}
tr:hover {background-color: yellow;}


th {
    background-color: #04AA6D;
    color: white;
  }
  
body{
    max-width: 500px;
    margin: auto;
    color: rgb(0, 0, 0);

    border-radius: 15px 50px;
    padding: 20px;

}



