table, tr, th, td{
    border: 1px solid black;

}

tr:hover {background-color: yellow;}

th {
    background-color: #04AA6D;
    color: white;
  }
  
body{
    max-width: 330px;
    margin: auto;
    color: rgb(0, 0, 0);
}

div{
    max-width: 330px;
    padding-top: 50%;
    color: rgb(0, 0, 0);
    margin: auto;
    

}
